{{ define "main" }}
  <main class="bg-beige lg:pb-16">
    <div class="flex aspect-square h-48 w-full text-white lg:aspect-auto">
      <div class="absolute aspect-auto h-48 w-full">
        {{ with (resources.Get "photos/yuki-ginny-close-up.jpg").Process "resize 1024x webp" }}
          <img
            src="{{ .RelPermalink }}"
            alt="Yuki and Ginny close up"
            class="z-0 h-full w-full object-cover"
          />
        {{ end }}
      </div>

      <div
        class="z-10 grid h-full w-full place-content-center bg-stone-800/25 text-center backdrop-blur-xs"
      >
        <h1 class="text-white">Onze poezen</h1>

        <p class="text-white">Lief, leuk en een tikkeltje gestoord</p>
      </div>
    </div>

    <div class="flex justify-center bg-white pt-16 lg:bg-inherit">
      <div class="max-w-screen-xl lg:grid lg:grid-cols-2">
        {{ range sort .Paginator.Pages.Reverse }}
          <div class="lg:hidden">
            {{ with (.Resources.Get "photo").Process "resize 576x webp" }}
              <img
                src="{{ .RelPermalink }}"
                alt="{{ .Title }}"
                class="aspect-square h-fit w-full object-cover"
              />
            {{ end }}
            <div class="py-14">
              <h2 class="mt-0 text-center">{{ .Title }}</h2>
              <p class="mb-4 text-center font-serif text-lg">
                {{ .Description }}<br />
                {{ .Date | time.Format ":date_short" }}
              </p>
              <div class="px-6 text-center">{{ .Content }}</div>
            </div>
          </div>

          <div class="mx-8 mb-10 hidden h-full bg-white lg:block">
            <div>
              {{ with (.Resources.Get "photo").Process "resize 576x webp" }}
                <img
                  src="{{ .RelPermalink }}"
                  alt="{{ .Title }}"
                  class="aspect-square h-fit w-full object-cover"
                />
              {{ end }}
            </div>

            <div class="px-8">
              <div>
                <h2>{{ .Title }}</h2>
                <p class="mb-4 font-serif text-lg">
                  {{ .Description }}<br />
                  {{ .Date | time.Format ":date_short" }}
                </p>
                <div>{{ .Content }}</div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
