{{ define "main" }}
  <main>
    {{ .Content }}

    {{ range .Paginator.Pages }}
      <div class="flex justify-center">
        <div class="flex flex-col">
          {{ with .Resources.GetMatch "photo" }}
            <img
              src="{{ (.Process "webp drawing").RelPermalink }}"
              alt="{{ .Title }}"
              class="mx-auto mb-8 mt-16 h-full w-full object-cover lg:max-w-lg"
            />
          {{ end }}


          <p class="mb-6 text-center font-serif text-lg">
            {{ .Date | time.Format ":date_long" }}
          </p>
          <div class="text-center">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{ end }}
  </main>
{{ end }}
