{{ define "main" }}
  <main class="flex justify-center bg-beige lg:pb-16">
    <div class="max-w-screen-xl">
      <div class="pb-12 pt-4 text-center">
        <h1>Nieuws</h1>
      </div>

      <div class="max-w-screen-xl">
        {{ range .Paginator.Pages }}

          <div class="bg-white lg:hidden">
            {{ with .Resources.Get "photo" }}
              <img
                class="h-full w-full object-cover"
                src="{{ (.Process "resize 576x webp").RelPermalink }}"
                alt="{{ .Title }}"
              />
            {{ end }}
            <div class="py-14">
              <h2 class="mt-4 text-center">{{ .Title }}</h2>
              <p class="mb-4 text-center font-serif text-lg">
                {{ .Date | time.Format ":date_long" }}
              </p>
              <div class="px-6 text-center">{{ .Content }}</div>
            </div>
          </div>

          <div
            class="mx-16 mb-10 hidden grid-cols-2 bg-white last:mb-0 lg:grid"
          >
            <div class="grid content-center px-8">
              <div>
                <h2 class="text-center">
                  {{ .Title }}
                </h2>

                <p class="mb-4 text-center font-serif text-lg">
                  {{ .Date | time.Format ":date_long" }}
                </p>

                <div class="text-center">
                  {{ .Content }}
                </div>
              </div>
            </div>

            {{ with .Resources.Get "photo" }}
              <img
                class="h-full w-full object-cover"
                src="{{ (.Process "resize 576x webp").RelPermalink }}"
                alt="{{ .Title }}"
              />
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
