<footer class="flex-column">
  <div class="flex justify-center bg-white py-4">
    <div class="mx-2 w-6 h-6">
      <a href="https://www.facebook.com/CatteryHamana" target="_blank" class="text-stone-700">
        {{- partial "components/facebook-logo" . -}}
      </a>
    </div>
    <div class="mx-2 w-6 h-6">
      <a href="https://instagram.com/attack.of.the.fluff" target="_blank" class="text-stone-700">
        {{- partial "components/instagram-logo" . -}}
      </a>
    </div>
  </div>
  <div class="bg-beige text-center text-sm text-stone-400 py-2">
    <p>
      &copy;
      <a href="https://www.linkedin.com/in/hansvanluttikhuizen/" target="_blank">Hans van Luttikhuizen-Ross</a>
      {{ now.Format "2006" }} | <a href="https://github.com/pindab0ter/Hamana/" target="_blank">Source</a>
    </p>
  </div>
</footer>
