<header>
  <div
    class="flex-column justify-center px-16 py-8 lg:flex lg:justify-between lg:py-4"
  >
    <a href="/">
      <div class="flex-column lg:flex lg:items-center">
        {{ with (resources.Get "logo-cats.png").Process "webp drawing" }}
          <img
            class="mh-24 mx-auto w-48 lg:mx-0"
            src="{{ .RelPermalink }}"
            alt="Cattery Hamana"
          />
        {{ end }}


        <div class="flex-column lg:pl-4">
          <p class="mb-2 mt-4 text-center text-3xl font-extralight">
            Cattery Hamana
          </p>
          <p class="text-l mb-0 text-center">Welkom bij huize Hamana</p>
        </div>
      </div>
    </a>

    {{- partial "navigation.html" . -}}
  </div>
</header>
