<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- HTML Meta Tags -->
{{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
{{ else }}
  <title>{{ .Site.Title }} | {{ .Title }}</title>
{{ end }}
<meta name="description" content="{{ .Site.Params.description }}" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}


<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#d49635" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap"
  rel="stylesheet"
/>

{{ $sass := resources.Get "style.scss" }}
{{ $style := $sass | resources.ToCSS | resources.PostCSS }}
{{ if .Site.IsServer }}
  {{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl" }}
  {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
  {{ $style := $style | resources.ExecuteAsTemplate (printf "tailwind.dev.%s.css" $random) $random }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ else }}
  {{ $style := $style | minify | fingerprint | resources.PostProcess }}
  <link
    data-precache
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    integrity="{{ $style.Data.Integrity }}"
    crossorigin="anonymous"
  />
{{ end }}

{{ $ts := resources.Get "app.ts" }}
{{ if .Site.IsServer }}
  {{ $script := $ts | js.Build }}
  <script data-precache src="{{ $script.Permalink }}" defer></script>
{{ else }}
  {{ $script := $ts | js.Build (dict "minify" true) | resources.Minify | fingerprint }}
  <script
    data-precache
    src="{{ $script.Permalink }}"
    integrity="{{ $script.Data.Integrity }}"
    crossorigin="anonymous"
    defer
  ></script>
{{ end }}

{{ if and .Site.Params.umami.enabled (not .Site.IsServer) }}
  <script
    async
    defer
    data-website-id="{{ .Site.Params.umami.websiteId }}"
    src="{{ .Site.Params.umami.jsLocation }}"
  ></script>
{{ end }}
