<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#d49635">

<title>{{ .Site.Title }} | {{ .Title }}</title>

{{ $sass := resources.Get "style.scss" }}
{{ $style := $sass | resources.ToCSS | resources.PostCSS }}
{{ if .Site.IsServer }}
    {{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl" }}
    {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
    {{ $style := $style | resources.ExecuteAsTemplate (printf "tailwind.dev.%s.css" $random) $random }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ else }}
    {{ $style := $style | minify | fingerprint | resources.PostProcess }}
    <link data-precache rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" />
{{ end }}

{{ $ts := resources.Get "app.ts" }}
{{ $script := $ts | js.Build | fingerprint }}
<script data-precache src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous" defer></script>
