<nav class="hidden items-center lg:visible lg:flex">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    <a class="active px-2" href="{{ .URL }}" title="{{ .Title }}"
      >{{ .Name }}</a
    >
  {{ end }}


  <a
    href="https://www.facebook.com/CatteryHamana"
    target="_blank"
    class="mx-2 h-5 w-5 text-stone-800"
    >{{- partial "facebook-logo" . -}}</a
  >

  <a
    href="https://instagram.com/attack.of.the.fluff"
    target="_blank"
    class="mx-2 h-5 w-5 text-stone-800"
    >{{- partial "instagram-logo" . -}}</a
  >
</nav>

<div x-data="{ open: false }" class="lg:hidden">
  <nav
    id="nav-screen"
    class="fixed inset-0 z-40 h-full w-screen max-w-none touch-none overflow-y-auto overflow-x-hidden bg-white pt-10 transition"
    x-show="open"
    x-transition
    x-transition:enter.duration.200ms
    x-transition:leave.duration.100ms
  >
    <h1 class="mb-16 text-center">{{ .Site.Title }}</h1>

    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a
        class="mb-8 block text-center text-2xl"
        href="{{ .URL }}"
        title="{{ .Title }}"
        >{{ .Name }}</a
      >
    {{ end }}


    <div class="flex w-full justify-center space-x-4">
      <a
        href="https://www.facebook.com/CatteryHamana"
        target="_blank"
        class="h-16 w-16 p-4 text-stone-800"
        >{{- partial "facebook-logo" . -}}</a
      >

      <a
        href="https://instagram.com/attack.of.the.fluff"
        target="_blank"
        class="h-16 w-16 p-4 text-stone-800"
        >{{- partial "instagram-logo" . -}}</a
      >
    </div>
  </nav>

  <div
    class="fixed right-2 top-2 z-50 cursor-pointer rounded-lg bg-white/25 p-6 backdrop-blur-md"
    @click="open = !open"
  >
    <div class="tham tham-e-slider tham-w-8" :class="open && 'tham-active'">
      <div class="tham-box">
        <div class="tham-inner bg-stone-700" />
      </div>
    </div>
  </div>
</div>
