{{ define "main" }}
  {{ .Content }}
  <article class="-mb-1 flex justify-center bg-beige pb-1">
    <div class="max-w-screen-xl lg:mb-24">
      {{ with (resources.Get "photos/yuki-basking-bed-ginny-washing-in-bg.jpg").Process "webp" }}
        <img
          class="aspect-video w-full object-cover object-top lg:aspect-[21/9]"
          src="{{ .RelPermalink }}"
          alt="Yuki basking in the sun on bed"
          style="object-position: 100% 7%"
        />
      {{ end }}


      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="p-12 lg:px-24 lg:px-36 lg:py-48">
          <h1 class="mb-8 text-start">Over ons</h1>
          <p>
            Kleinschalige Ragdoll & Noorse Boskat-cattery in Arnhem die zich
            inzet voor het fokken van sociale en gezonde kittens.
          </p>

          <div class="-ml-4 mt-16 flex flex-wrap">
            <a
              class="m-2 whitespace-nowrap rounded-full bg-orange px-4 py-3 font-light text-white transition hover:bg-orange/75"
              href="/nieuws"
              >Het laatste nieuws</a
            >

            <a
              class="m-2 rounded-full border border-orange px-4 py-3 font-light text-orange transition hover:bg-orange hover:text-white"
              href="/kittens/"
              >Kittens</a
            >
          </div>

          {{ with (resources.Get "educats.be.png").Process "webp drawing" }}
            <img
              class="-ml-8 mt-12"
              src="{{ .RelPermalink }}"
              alt="Cattery Hamana"
              style="max-width: 220px"
            />
          {{ end }}
        </div>

        <div class="hidden content-center bg-white lg:flex">
          {{ with (resources.Get "logo-text.png").Process "webp drawing" }}
            <img
              class="object-contain"
              src="{{ .RelPermalink }}"
              alt="Cattery Hamana"
            />
          {{ end }}
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-3">
        <div
          class="bg-[position-x:40%] aspect-video bg-cover bg-right lg:aspect-square"
          {{ with (resources.Get "photos/yuki-ginny-balcony.png").Process "resize 427x webp" }}
            style="background-image: url('{{ .RelPermalink }}');
            background-position-x: 40%;"
          {{ end }}
        >
          <div
            class="grid h-full w-full place-content-center bg-orange/75 backdrop-blur-xs"
          >
            <a
              class="rounded-full border-2 border-white px-4 py-2 font-light text-white transition hover:bg-white hover:text-current"
              href="/faq/"
              >Veelgestelde vragen</a
            >
          </div>
        </div>

        <div
          class="aspect-video bg-cover lg:aspect-square"
          {{ with (resources.Get "photos/ginny-kitten.jpg").Process "resize 427x webp" }}
            style="background-image: url('{{ .RelPermalink }}');"
          {{ end }}
        >
          <div
            class="grid h-full w-full place-content-center bg-orange/75 backdrop-blur-xs"
          >
            <a
              class="rounded-full border-2 border-white px-4 py-2 font-light text-white transition hover:bg-white hover:text-current"
              href="/kittens/"
              >Kittens</a
            >
          </div>
        </div>

        <div
          class="aspect-video bg-cover bg-[center_top_50%] lg:aspect-square"
          {{ with (resources.Get "photos/yuki-ginny-together-on-bed.jpg").Process "resize 427x webp" }}
            style="background-image: url('{{ .RelPermalink }}');"
          {{ end }}
        >
          <div
            class="grid h-full w-full place-content-center bg-orange/75 backdrop-blur-xs"
          >
            <a
              class="rounded-full border-2 border-white px-4 py-2 font-light text-white transition hover:bg-white hover:text-current"
              href="/onze-poezen/"
              >Onze poezen</a
            >
          </div>
        </div>
      </div>

      {{- partial "contact-form.html" -}}
    </div>
  </article>
{{ end }}
