{{ define "main" }}
  <main>
    <div class="bg-beige">
      <div class="mx-auto max-w-screen-xl lg:grid lg:grid-cols-2">
        {{ with (resources.Get "photos/avatar-kitten-portret.jpg").Process "resize 640x webp" }}
          <img
            class="aspect-[21/9] w-full object-cover lg:hidden"
            src="{{ .RelPermalink }}"
            alt="Jonge Ginny"
            style="object-position: 100% 28%"
          />

          <div class="grid place-content-center lg:px-16">
            <h1 class="my-16">Ons kittenbeleid</h1>
          </div>

          <img
            class="hidden aspect-[16/9] w-full object-cover lg:block"
            src="{{ .RelPermalink }}"
            alt="Jonge Ginny"
            style="object-position: 100% 24%"
          />
        {{ end }}
      </div>
    </div>

    <div class="flex justify-center py-16">
      <div class="max-w-screen-md px-8 lg:px-0">
        <p>
          Als u interesse heeft in een kitten van ons, dan wilt u natuurlijk
          weten wat u kunt verwachten. Onze kittens worden grootgebracht in
          huis. De eerste paar weken zullen moeder en kroost in een afgesloten
          kamer alle rust krijgen die ze nodig hebben. Na vier weken beginnen de
          kittens meer te bewegen en mogen ze de rest van het huis ontdekken. Ze
          zullen tijdens hun verblijf bij ons aan allerlei geluiden, geuren en
          ervaringen blootgesteld worden. We zijn gewend om onze poezen op te
          pakken en ze (fysieke) aandacht te geven.<br />
          Dit geeft de kittens een uitstekende basis om verder op door te
          groeien.
        </p>

        <p class="font-semibold">
          De prijs van een kitten is €&nbsp;950 euro en ze vertrekken vanaf rond
          de veertiende week.
        </p>

        <h3>Wat zit er allemaal bij de prijs van een kitten?</h3>
        <ul class="list-disc">
          <li>
            Beide ouders zijn getest op erfelijke ziektes die bekend zijn bij
            het ras. Hier vallen onder andere onder: HCM, PKD en CIN (echo &
            DNA). Ook zijn de ouders FiV en FeLV vrij.
          </li>
          <li>
            De kittens worden twee keer ingeënt en zijn hiermee volledig
            beschermd tot hun eerste levensjaar.
          </li>
          <li>Kittens zijn ontwormd, ontvlooit en gechipt.</li>
          <li>Kittens krijgen een dierenpaspoort en stamboom mee.</li>
          <li>
            De nieuwe eigenaren krijgen een startpakketje met voer, nestdekentje
            en andere leuke verrassingen mee!
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-center bg-orange py-16">
      <div class="max-w-screen-md px-8 lg:px-0">
        <h3 class="mb-12 mt-0 text-white">Goed om te weten</h3>
        <ul class="list-disc text-white">
          <li>
            De meeste katten zijn liever niet alleen en hebben behoefte aan een
            soortgenoot om mee te spelen. Als u bij ons twee kittens uit
            hetzelfde nest koopt, krijgt u voorrang op de wachtlijst en € 100
            korting.
          </li>
          <li>
            Mocht u al een kitten van ons hebben en later voor een tweede terug
            komen, dan krijgt u € 50 korting.
          </li>
          <li>
            Kittens mogen pas na hun Rabiës-inenting naar het buitenland
            verhuizen. Hierdoor kunnen zij pas 3 weken later vertrekken. De
            kosten voor een Rabiës-inenting (à € 15) komen voor de rekening van
            de nieuwe eigenaar.
          </li>
          <li>
            Kittens kunnen bezocht worden vanaf week 5, vanaf dan is hun
            afweersysteem namelijk goed genoeg ontwikkeld.
            <br />
            <b>Let op:</b> Plan nooit meer dan één catterybezoek op dezelfde
            dag. Zo voorkom je dat je eventuele ziektes verspreidt.
          </li>
          <li>Tussendoor bezoek is alleen mogelijk in week 8 en 10.</li>
          <li>
            Als u op bezoek bent geweest en een kitten wilt reserveren kan dat
            middels een aanbetaling van € 200 gedaan. Deze aanbetaling wordt
            niet teruggestort bij eventuele annulering.
          </li>
          <li>
            Op het moment dat u het kitten op komt halen wordt er door beide
            partijen een koopcontract ondertekend. Wilt u dit niet ondertekenen
            dan wordt het kitten niet aan u meegegeven. U mag altijd het
            contract opvragen om door te lezen voordat u de aanbetaling en
            definitieve betaling doet.
          </li>
        </ul>
      </div>
    </div>

    {{ partial "contact-button" }}
  </main>
{{ end }}
